<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %} {% load socialaccount %}{% providers_media_js %}
    
</head>


<body>
    <div class="nav-bar">
        {% if user.is_authenticated %}
        <span class="navbar__menu__item">방가방가 {{user.usernmae}}</span>
<
        <Li class="navbar__menu__item">
            <a href="{% url 'logout' %}">로그아웃</a>
        </Li>
        {% else %}
        <Li class="navbar__menu__item">
            <a href="{% url 'signup' %}">회원가입</a>
        </Li>
        <Li class="navbar__menu__item">
            <a href="{% url 'login' %}">로그인</a>
        </Li>
        <form class="login" method="POST" action="{% provider_login_url 'kakao' %}">
            {% csrf_token %} {{ form.as_p }} {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button class="primaryAction" type="submit">카카올 로그인</button>
        </form>
        
        {% endif %}
      
        {% block nav-bar %}
        {% endblock nav-bar%}

    </div>

    <div class="title">
        {% block title %}
        {% endblock title %}
    </div>
   
    <div class="container">
        {% block content %}
        {% endblock content %}

    </div>

    <footer>
        멋사 게시판
    </footer>
  
    
</body>
</html>