.header h1 {
    color: rgb(177, 83, 83);
    line-height: 100px; 
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 80px;
    text-align: center;
  }


*{
    background-color: rgb(243, 202, 202);
}

.container {
    text-align: center;
}