<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {%csrf_token %}
        <div>
            <label for="title">title</label>
            <input type="text" name="title" id="title" value="{{ post.title }}">

        </div>


        <div>
            <label for="content">descriptions</label>
            <textarea name="content" id="content" cols="30" rows="10"> {{post.content}} </textarea>
        </div>

        <div>
            <input type="date" name="end_date" id="end_date">
        </div>

        <button type="submit">수정하기</button>
    </form>
</body>
</html>